In [6]:
import pandas as pd

In [9]:
dados = {'cidade': ['Floripa','Floripa','Floripa','Sao Jose','Sao Jose','Sao Jose','Palhoca','Palhoca','Palhoca'],
          'ano':[2018,2019,2020,2018,2019,2020,2018,2019,2020],
          'pop':[200, 205, 215, 100, 90, 110, 50, 70, 45]}

In [10]:
df = pd.DataFrame(dados)

In [11]:
df

     cidade   ano  pop
0   Floripa  2018  200
1   Floripa  2019  205
2   Floripa  2020  215
3  Sao Jose  2018  100
4  Sao Jose  2019   90
5  Sao Jose  2020  110
6   Palhoca  2018   50
7   Palhoca  2019   70
8   Palhoca  2020   45

In [12]:
df.head()

     cidade   ano  pop
0   Floripa  2018  200
1   Floripa  2019  205
2   Floripa  2020  215
3  Sao Jose  2018  100
4  Sao Jose  2019   90

In [13]:
df.head(6)

     cidade   ano  pop
0   Floripa  2018  200
1   Floripa  2019  205
2   Floripa  2020  215
3  Sao Jose  2018  100
4  Sao Jose  2019   90
5  Sao Jose  2020  110

In [14]:
df.tail()

     cidade   ano  pop
4  Sao Jose  2019   90
5  Sao Jose  2020  110
6   Palhoca  2018   50
7   Palhoca  2019   70
8   Palhoca  2020   45

In [15]:
df.tail(2)

    cidade   ano  pop
7  Palhoca  2019   70
8  Palhoca  2020   45

In [16]:
df

     cidade   ano  pop
0   Floripa  2018  200
1   Floripa  2019  205
2   Floripa  2020  215
3  Sao Jose  2018  100
4  Sao Jose  2019   90
5  Sao Jose  2020  110
6   Palhoca  2018   50
7   Palhoca  2019   70
8   Palhoca  2020   45

In [17]:
df.transpose()

,0,1,2,3,4,5,6,7,8
cidade,Floripa,Floripa,Floripa,Sao Jose,Sao Jose,Sao Jose,Palhoca,Palhoca,Palhoca
ano,2018,2019,2020,2018,2019,2020,2018,2019,2020
pop,200,205,215,100,90,110,50,70,45

In [18]:
df

     cidade   ano  pop
0   Floripa  2018  200
1   Floripa  2019  205
2   Floripa  2020  215
3  Sao Jose  2018  100
4  Sao Jose  2019   90
5  Sao Jose  2020  110
6   Palhoca  2018   50
7   Palhoca  2019   70
8   Palhoca  2020   45

In [19]:
df['idh'] = [0.9,0.7,0.6,0.9,1,0.7,0.5,0.4,0.9]

In [20]:
df

     cidade   ano  pop  idh
0   Floripa  2018  200  0.9
1   Floripa  2019  205  0.7
2   Floripa  2020  215  0.6
3  Sao Jose  2018  100  0.9
4  Sao Jose  2019   90  1.0
5  Sao Jose  2020  110  0.7
6   Palhoca  2018   50  0.5
7   Palhoca  2019   70  0.4
8   Palhoca  2020   45  0.9

In [21]:
len(df)

9

In [22]:
mask = df['ano'] == 2020

In [23]:
df[mask]

     cidade   ano  pop  idh
2   Floripa  2020  215  0.6
5  Sao Jose  2020  110  0.7
8   Palhoca  2020   45  0.9

In [33]:
mask = (df['ano'] == 2020) & (df['pop'] > 100)

In [34]:
df[mask]

     cidade   ano  pop  idh
2   Floripa  2020  215  0.6
5  Sao Jose  2020  110  0.7

In [35]:
df_treated = df[mask]

In [36]:
df_treated

     cidade   ano  pop  idh
2   Floripa  2020  215  0.6
5  Sao Jose  2020  110  0.7

In [37]:
df_treated['pop'].mean()

162.5

In [38]:
IDH = df['idh'] * 10

In [39]:
IDH

0     9.0
1     7.0
2     6.0
3     9.0
4    10.0
5     7.0
6     5.0
7     4.0
8     9.0
Name: idh, dtype: float64

In [40]:
type(IDH)

pandas.core.series.Series